*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-container{
    margin: 4% auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 1px solid whitesmoke;
    border-radius: 5%;
}
.inputs{
    display: flex;
    gap: 50px; 
}
.inputs input{
    width: 70%;
    height: 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.inputs button{
    margin-top: 1%;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

label{
    font-size: 20px;
}

.all-buttons{
    padding-top: 20px;
    display: flex;
    width: 100%;
    gap: 20px;   
}
.list{
    height:400px;
    margin-top: 5%;
    background-color: #fff8f8;
    width: 100%;
    border-radius: 20px;
    padding: 4% 3%;
    overflow-x: hidden;
}
h2{
    margin: 0 2%;
    position: relative;
}
ul{
    list-style-type: decimal;
    padding: 4% 6%;

}
li{
   font-size: 20px;
   line-height: 2rem;
   /* margin-top: 1%; */
   
}
input{
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 5%;
}
.all-buttons button{
    width: 150px;
    height: 7vh;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(2, 123, 139);
    color: white;

}